body {
    margin: 0;
    background-color: #0f0f0f; /* Un fondo oscuro elegante */
    height: 300vh; /* Forzamos a que la página mida 3 veces el alto de la pantalla para simular scroll */
    font-family: sans-serif;
}

#bm {
    width: 400px;
    height: 400px;
    position: fixed; /* Mantiene la animación fija en la pantalla mientras scrolleas */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Evita que interfiera con los clics del usuario */
}